@font-face{
    font-family:myFont;
    src:url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myFont2;
    src: url('font/DroidKufi-Regular.ttf')
}

body{
    padding-top:100px;
}
.navbar-default .navbar-nav > li > a ,.myfooter a,p{
    color: #fff494;
    font-family:myFont;
}

.navbar-default .navbar-nav > li > a:hover,.myfooter a:hover{
    color: #ffd800;
}

.nav > li {
    position: relative;
    display: block;
    height: 70px;
    padding-top: 10px;
}

.navbar-default {
    background-color: #000000;
    border-color: #ffffff;
}

.myfooter{
    background-color:#808080;
    padding-top:10px;
    font-family:myFont;
    text-align:justify;
}

.myfooter h3,ul,p{
    margin-bottom:20px;
    font-family:myFont2;
}

.subfooter {
    background-color: #000000;
    color: #fff494;
    padding: 10px;
    text-align: center;
}