@model IEnumerable<Job_Offers_Website.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>مرحبا بك عزيزي الزائر</h1>
    <p>
        لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
        أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل &raquo;</a></p>
</div>


@foreach (var item in Model)
{
<div class="panel panel-default">
    <h1 class="panel-heading" style="padding:15px;">@Html.DisplayFor(modelItem => item.CategoryName)</h1>
    <h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>

    <div class="row">
        @foreach (var subItem in item.Jobs)
        {
            <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; height:380px;">
                <img src="~/Uploads/@subItem.JobImage" />
                <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                <h5>@Html.DisplayFor(modelItem => subItem.JobContent)</h5>
                <p><a class="btn btn-default">التفاصيل &raquo;</a></p>
            </div>

        }
    </div>
</div>
}
